body{
    /* background-color: lime; */
}

/* Navigation style */
.nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px rgba(0,0,0,0.1) solid;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    text-transform: uppercase;
}
.nav li {
    display: inline-block;
    margin: 0 .5em;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.nav a {
    display: block;
    padding: .8em .6em;
    color: #575758;
    text-decoration: none;
}
.nav a:hover {
    background-color: #ea5745;
    color: white;

    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

}
.nav a:active{
    background: black;
    color:white;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

}


.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    border-top: 0;
}


/* Styling the toggle menu link and hiding it */
.nav .navtoogle {
    display: none;
    width: 100%;
    padding: .5em .5em .8em;
    text-align: left;
    font-size: 1.2em;
    background: none;
    border: none;
    height: 45px;

    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    text-align: center;
    background: rgba(0, 83, 198, 0.9);
    border-bottom: 1px rgba(0,0,0,0.1) solid;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    text-transform: uppercase;
}
.nav .navtoogle:before {
    content: '\2630';
    padding-right: .5em;
    font-size: 1.2em;
}
/* The breakpoint here will depend on your content, menu lenght, font size, and so on :) */
@media (max-width: 680px) {
    .nav li {
        margin: 0;
        display: block;
        text-align: center;
    }
    .nav a {
        padding: .8em 1.2em .8em;
    }
    .js .nav {
        /* Unhiding the styled menu link */

        /* When JavaScript is enabled, we hide the menu */

    }
    .js .nav .navtoogle {
        margin: 0;
        display: block;
    }
    .js .nav ul {
        max-height: 0em;
        overflow: hidden;
    }
    .js .nav .active + ul {
        max-height: 30em;
        overflow: hidden;
        -webkit-transition: max-height 0.4s;
        -moz-transition: max-height 0.4s;
        -o-transition: max-height 0.4s;
        -ms-transition: max-height 0.4s;
        transition: max-height 0.4s;
    }
    /* If JavaScript is disabled, the menu stays open */
    .no-js .nav ul {
        max-height: 30em;
        overflow: hidden;
    }
}



